@model PRIS.Web.Models.StudentViewModel
@using PRIS.Core.Library

@{
    ViewData["Title"] = "Edit";
}

<h3>Redaguoti</h3>

<hr />
<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div>Kandidato prioritetai</div>

            @for (int i = 1; i < Model.SelectedPriority.Length + 1; i++)
            {
                @i
                <select asp-for="@Model.SelectedPriority[i-1]" class="form-control">
                    @*@if (Model.SelectedPriority[i - 1] == null)
                    {
                        @foreach (var ap in Model.Programs)
                        {
                            <option value="@ap.Value">@ap.Text</option>
                        }
                        <option style="display:none"></option>
                    }
                    else
                    {*@
                        <option style="display:none">@Model.SelectedPriority[i - 1]</option>
                        @foreach (var ap in Model.Programs)
                        {
                            <option value="@ap.Value">@ap.Text</option>
                        }
                    @*}*@
                </select>
            }

            <div class="form-group">
                <input type="submit" value="Išsaugoti" class="btn btn-secondary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-secondary" href='javascript:history.go(-1)'>Grįžti</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
