@model PRIS.Web.Models.StudentsResultViewModel

@{
    ViewData["Title"] = "EditResult";
    Model.Id = Model.ResultId;
}



<h4>Redaguoti testo rezultatus</h4>
<hr />
<div class="row">

    <form asp-action="EditResult">
        <div>

            Kandidatas:
            @Html.DisplayFor(model => model.FirstName)

            @Html.DisplayFor(model => model.LastName)
        </div>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task1_1)</span>
            </div>
            <input type="text" asp-for="Task1_1" class="form-control">
            <span asp-validation-for="Task1_1" class="text-danger"></span>

            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task1_2)</span>
            </div>
            <input asp-for="Task1_2" class="form-control">
            <span asp-validation-for="Task1_2" class="text-danger"></span>

            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task1_3)</span>
            </div>
            <input asp-for="Task1_3" class="form-control">
            <span asp-validation-for="Task1_3" class="text-danger"></span>

            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task2_1)</span>
            </div>
            <input asp-for="Task2_1" class="form-control">
            <span asp-validation-for="Task2_2" class="text-danger"></span>

            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task2_2)</span>
            </div>
            <input asp-for="Task2_2" class="form-control">
            <span asp-validation-for="Task2_2" class="text-danger"></span>

            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task2_3)</span>
            </div>
            <input asp-for="Task2_3" class="form-control">
            <span asp-validation-for="Task1_3" class="text-danger"></span>

            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task3_1)</span>
            </div>
            <input asp-for="Task3_1" class="form-control">
            <span asp-validation-for="Task3_1" class="text-danger"></span>

            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task3_2)</span>
            </div>
            <input asp-for="Task3_2" class="form-control">
            <span asp-validation-for="Task3_2" class="text-danger"></span>

            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task3_3)</span>
            </div>
            <input asp-for="Task3_3" class="form-control">
            <span asp-validation-for="Task3_3" class="text-danger"></span>

            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Task3_4)</span>
            </div>
            <input asp-for="Task3_4" class="form-control">
            <span asp-validation-for="Task3_4" class="text-danger"></span>
        </div>
        
            <div class="mt-3">@Html.DisplayNameFor(model => model.CommentResult)</div>
        
        <input asp-for="CommentResult" class="form-control">
        <span asp-validation-for="CommentResult" class="text-danger"></span>
        <br />
        <div class="form-group">
            <input type="submit" value="Išsaugoti" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Grįžti į sąrašą</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
