@model IEnumerable<PRIS.Web.Models.StudentsResultViewModel>

@{
    ViewData["Title"] = "Index";
}
@Html.ActionLink("Grįžti", "Index", "Exams", new { }, new { @class = "btn btn-outline-secondary float-right rounded-pill" })
<h3>Kandidatų sąrašas</h3>

<hr/>
    <a asp-action="Create">Pridėti naują kandidatą</a>

<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentageGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPoints)
            </th>
            <th class="borderless-cell" width="75px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPoints)
                <span class="float-right text-secondary">
                    @Html.ActionLink("", "EditResult", new { id = item.Id, resultId = item.ResultId }, new { @class = "fas fa-pen-square" })
                </span>
            </td>
            <td class="borderless-cell">
                @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil-square-o" })
                @Html.ActionLink("", "Delete", new { id = item.Id, examPassed = item.PassedExam }, new { @class = "fa fa-trash" })
            </td>
        </tr>
        }

    </tbody>
</table>






