@model PRIS.Web.Models.ConversationResultViewModel

@{
    ViewData["Title"] = "EditConversationResult";
}
<h4>Redaguoti pokalbio rezultatus</h4>
<hr />
<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>
<div class="row">

    <form asp-action="EditConversationResult">
        <div>

            Kandidatas:
            @Html.DisplayFor(model => model.FirstName)

            @Html.DisplayFor(model => model.LastName)
        </div>
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span asp-validation-for="Grade" class="text-danger"></span>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Grade)</span>
                <input asp-for="Grade" type="text" class="form-control">
            </div>
        </div>
        <div class="mt-3">@Html.DisplayNameFor(model => model.ConversationResultComment)</div>
        <input asp-for="ConversationResultComment" class="form-control">
        <span asp-validation-for="ConversationResultComment" class="text-danger"></span>
        <br />
        <div class="form-group">
            <input type="submit" value="Išsaugoti" class="btn btn-primary" />
        </div>
    </form>
</div>
