@model PRIS.Web.Models.ConversationAndStudentViewModel
@{
    ViewData["Title"] = "Index";
}
@Html.DisplayFor(model => model.ConvResults.FirstOrDefault().ExamCityAndDate)

@Html.ActionLink("Grįžti", "Index", "ExamsToConversations", new { }, new { @class = "btn btn-outline-secondary float-right rounded-pill" })
<h3>Kandidatai atrinkti į pokalbį</h3>
<div class="col-12 border p-3">
    <table class="table table-striped table-bordered " style="width:100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Students.FirstOrDefault().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Students.FirstOrDefault().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Students.FirstOrDefault().Email)</th>
                <th>@Html.DisplayNameFor(model => model.Students.FirstOrDefault().PhoneNumber)</th>
                <th>@Html.DisplayNameFor(model => model.ConvResults.FirstOrDefault().Grade)</th>
                <th>@Html.DisplayNameFor(model => model.ConversationForm.FirstOrDefault().ConversationFormName)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Students.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Students.ElementAtOrDefault(i).FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Students.ElementAtOrDefault(i).LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Students.ElementAtOrDefault(i).Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Students.ElementAtOrDefault(i).PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.ConvResults.ElementAtOrDefault(i).Grade)
                        <span class="float-right">
                            @Html.ActionLink("", "EditConversationResult", "ConversationResults", new { Id = Model.Students.ElementAtOrDefault(i).Id }, new { @class = "fas fa-pen-square" })
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.ConversationForm.ElementAtOrDefault(i).ConversationFormName)
                        <span class="float-right text-secondary">
                            @Html.ActionLink("", "EditConversationForm", new { id = Model.ConvResults.ElementAtOrDefault(i).ConversationResultId}, new { @class = "fas fa-eye" })
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>