@model PRIS.Web.Models.ProgramViewModel

@{
    ViewData["Title"] = "Index";
}
@Html.ActionLink("Grįžti", "Main", "Home", new { }, new { @class = "btn btn-outline-secondary float-right rounded-pill" })
<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <h3>Programos</h3>
            <table class="table">
                <tbody>
                    @foreach (var item in Model.ProgramNames)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id">Ištrinti</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
         
        </div>
        <div class="col-4 text-center">
            <h3>Miestai</h3>
            <table class="table">
                <tbody>
                    @foreach (var item in Model.CityNames)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="DeleteCity" asp-route-id="@item.Id">Ištrinti</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
         
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}