@model IEnumerable<PRIS.Web.Models.Program>

@{
    ViewData["Title"] = "Index";
}

@*<p>
    <a asp-action="Create">Sukurti naują programą</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Programos pavadinimas")
            </th>
            <th>
                @Html.DisplayName("Sukurta")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Ištrinti</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <h2>Programos</h2>
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id">Ištrinti</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <a asp-action="Create">Sukurti naują programą</a>
            </p>
        </div>
        <div class="col-4 text-center">
            <h2>Miestai</h2>
        </div>
    </div>
</div>
