@model IEnumerable<PRIS.Web.Models.ExamViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Testai</h3>


<h4>
    <a asp-action="Create">Sukurti naują</a>
</h4>

<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Miestas</th>
            <th>Data</th>
            <th>Komentaras</th>
            <th class="borderless-cell" width="100px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="mask flex-center" data-toggle="collapse" data-target="#demo">@Html.DisplayFor(modelItem => item.SelectedCity)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td class="borderless-cell">
                <span class="dropdown">
                    <a type="button" data-toggle="dropdown"><i class="fa fa-cog" style="color: slategray"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Kandidatai", "Index", "Students", new { id = item.Id }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Balų šablonas", "Edit", "TaskParameters", new { id = item.Id }, new { @class = "dropdown-item" })
                    </div>
                </span>
                @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })
            </td>
        </tr>
        }
    </tbody>
</table>
