@model IEnumerable<PRIS.Core.Library.Entities.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task1_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task1_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task1_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task2_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task2_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task2_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task3_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task3_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task3_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task3_4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task1_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task1_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task1_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task2_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task2_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task2_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task3_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task3_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task3_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task3_4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
