@model PRIS.Web.Models.ExamsViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>
    Testai
    @Html.ActionLink("Grįžti", "Main", "Home", new { }, new { @class = "btn btn-outline-secondary float-right rounded-pill" })

    <select class="btn btn-outline-secondary float-right mr-3" onchange="callChangefunc(this.value)">
        <option style="display:none">@Model.SelectedAcceptancePeriod</option>
        @foreach (var ap in Model.AcceptancePeriod)
        {
            <option value="@ap.Value">@ap.Text</option>
        }
    </select>
</h3>

<hr />
<a asp-action="Create" class="btn btn-secondary mb-2">Sukurti naują testą</a>
<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>

<div class="list-group container">
    <div class="row">
        <div class="list-group-item col-11 font-weight-bold d-flex align-items-center">Miestas | Data </div>

        @foreach (var item in Model.ExamViewModels)
        {
            <a asp-action="Index" asp-controller="Students" asp-route-id="@item.Id" class="col-11 list-group-item list-group-item-action list-group-item-light d-flex align-items-center">
                @Html.DisplayFor(modelItem => item.SelectedCity) | @Html.DisplayFor(modelItem => item.Date)
            </a>

            <div class="col-1 pt-3">
                @Html.ActionLink("", "Edit", "TaskParameters", new { id = item.Id }, new { @class = "fa fa-cog text-secondary" }) @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })
            </div>
        }
    </div>
</div>

<script>
    function callChangefunc(value) {
        window.location.href = "/Exams/Index?value=" + value;
    }
</script>


