@model PRIS.Web.Models.CourseModels.StudentEvaluationListViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>
    Grupių formavimas
    @Html.ActionLink("Grįžti", "Main", "Home", new { }, new { @class = "btn btn-outline-secondary float-right rounded-pill" })

    <form asp-action="Index" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" name="searchString" value="" class="form-control bg-light border-1 rounded small" placeholder="Ieškoti..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary rounded-circle ml-1 mr-1" type="submit" value="Search">
                    <i class="fas fa-search fa-sm"></i>
                </button>
                <a class="fa fa-times ml-1 mr-1 center" asp-action="Index" aria-hidden="true"></a>
            </div>
        </div>
    </form>

    <select name="ExamId" class="btn btn-outline-secondary float-right mr-3" onchange="callChangefunc(this.name, this.value)">
        <option style="display:none">@Model.CurrentSelectedAcceptancePeriodId</option>
        @foreach (var ap in Model.AcceptancePeriods)
        {
            <option value="@ap.Value">@ap.Text</option>
        }
    </select>
    <select name="CityId" class="btn btn-outline-secondary float-right mr-3" onchange="callChangefunc(this.name, this.value)">
        <option style="display:none">@Model.CurrentSelectedCityId</option>
        @foreach (var ap in Model.Cities)
        {
            <option value="@ap.Value">@ap.Text</option>
        }
    </select>
    <select name="CourseId" class="btn btn-outline-secondary float-right mr-3" onchange="callChangefunc(this.name, this.value)">
        <option style="display:none">@Model.CurrentSelectedPriorityId</option>
        @foreach (var ap in Model.Courses)
        {
            <option value="@ap.Value">@ap.Text</option>
        }
    </select>

    @*<select class="btn btn-outline-secondary float-right mr-3" onchange="callChangefunc(this.value)">*@
    @*<option style="display:none">@Model</option>*@
    @*@foreach (var exam in Model.ExamsViewModels)
        {
            <option value="@exam.SelectedAcceptancePeriod">@exam.SelectedAcceptancePeriod</option>
        }*@
    @*</select>*@
</h3>

<hr />
@*<a asp-action="Create">Sukurti naują</a>*@
<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.StudentEvaluations.FirstOrDefault().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.StudentEvaluations.FirstOrDefault().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.StudentEvaluations.FirstOrDefault().Email)</th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEvaluations.FirstOrDefault().PhoneNumber)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PercentageGradeSort">@Html.DisplayNameFor(model => model.StudentEvaluations.FirstOrDefault().PercentageGrade)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ConversationGradeSort">@Html.DisplayNameFor(model => model.StudentEvaluations.FirstOrDefault().ConversationGrade)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.FinalAverageGradeSort">Galutinis balas</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PrioritySort">I Prioritetas</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PrioritySort">II Prioritetas</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PrioritySort">III Prioritetas</a>
            </th>
            <th class="borderless-cell" width="100px"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.StudentEvaluations.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).PercentageGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).ConversationGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).FinalAverageGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).Priority2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentEvaluations.ElementAtOrDefault(i).Priority3)
                </td>
                <td class="borderless-cell">
                    <!--<span class="dropdown">
                    <a data-toggle="dropdown"><i class="fa fa-cog" style="color: slategray"></i></a>
                    <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                    @*@Html.ActionLink("Kandidatai", "Index", "Students", new { id = item.Id }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Balų šablonas", "Edit", "TaskParameters", new { id = item.Id }, new { @class = "dropdown-item" })*@
                    <!--</span>
                    </span>-->
                    @*@Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function callChangefunc(name, value) {
        window.location.href = `/Course/Index?${name}=${value}`;
    }
</script>