@model PRIS.Web.Models.CourseModels.StudentLockDataListViewModel

@{
    ViewData["Title"] = "LockingOfStudentData";
}
<h3>
    Studentų duomenų užrakinimas
    @*sutvarkyti grizti mygtuka*@
    @Html.ActionLink("Grįžti", "Main", "Home", new { }, new { @class = "btn btn-outline-secondary float-right rounded-pill" })
</h3>
<hr/>
<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>
<form asp-action="LockingOfStudentData">
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().Email)</th>
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().PhoneNumber)</th>
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().PercentageGrade)</th>
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().ConversationGrade)</th>
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().FinalTestPoints)</th>
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().Priority)</th>
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().SignedAContract)</th>
                <th>@Html.DisplayNameFor(model => model.StudentDataLocking.FirstOrDefault().StudentDataLocked)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i= 0; i < Model.StudentDataLocking.Count(); i ++)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentDataLocking[i].FirstName)
                    <input type="hidden" name="studentId" value="@Model.StudentDataLocking[i].Id" class="text" asp-for="@Model.StudentDataLocking[i].FirstName"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentDataLocking[i].LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentDataLocking[i].Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentDataLocking[i].PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentDataLocking[i].PercentageGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentDataLocking[i].ConversationGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentDataLocking[i].FinalAverageGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.StudentDataLocking[i].Priority)
                </td>
                <td class="text-center">
                    <input type="checkbox" name="HasSignedAContract" asp-for="@Model.StudentDataLocking[i].SignedAContract" value="@Model.StudentDataLocking[i].Id" id="checkbox-@Model.StudentDataLocking[i].Id" class="checkbox-inline text-center">
                </td>
                <td class="text-center">
                    <input type="checkbox" name="HasStudentDataLocked" asp-for="@Model.StudentDataLocking[i].StudentDataLocked" value="@Model.StudentDataLocking[i].Id" id="checkbox-@Model.StudentDataLocking[i].Id" class="checkbox-inline text-center">
                </td>
            </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Išsaugoti" class="btn btn-secondary float-right mr-5" />
</form>
