@model PRIS.Web.Models.InvitationToStudyModel.StudentInvitationToStudyListViewModel

@{
    ViewData["Title"] = "Index";
}
<h3>
    Kandidatų kvietimas studijuoti
</h3>
    @Html.ActionLink("Grįžti į pagrindinį", "Main", "Home", new { }, new { @class = "btn btn-outline-secondary float-right rounded-pill" })
    <form asp-action="Index" method="get" class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100">
        <div class="input-group">
            <select name="ExamId" class="btn btn-outline-secondary float-right mr-3">
                <option style="display:none">@Model.SelectedAcceptancePeriod</option>
                @foreach (var ap in Model.AcceptancePeriods)
                {
                    <option value="@ap.Text">@ap.Text</option>
                }
            </select>
            <select name="CityId" class="btn btn-outline-secondary float-right mr-3">
                <option style="display:none">@Model.SelectedCity</option>
                @foreach (var ap in Model.Cities)
                {
                    <option value="@ap.Text">@ap.Text</option>
                }
            </select>
            <select name="CourseId" class="btn btn-outline-secondary float-right mr-3">
                <option style="display:none">@Model.SelectedPriority</option>
                @foreach (var ap in Model.Courses)
                {
                    <option value="@ap.Text">@ap.Text</option>
                }
            </select>
            <button class="btn btn-primary rounded-circle ml-1 mr-1" type="submit" value="Search">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </form>
<hr />
<div class="text-danger">@ViewContext.TempData["ErrorMessage"]</div>
<form asp-action="Index">
    <table class="table table-bordered StudentInvitationToStudyTable">
        <thead>
            <tr class="text-centers">
                <th>
                @Html.DisplayNameFor(model => model.StudentInvitationToStudy.FirstOrDefault().FirstName), 
                @Html.DisplayNameFor(model => model.StudentInvitationToStudy.FirstOrDefault().LastName)
                </th>
                <th>@Html.DisplayNameFor(model => model.StudentInvitationToStudy.FirstOrDefault().Email)</th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentInvitationToStudy.FirstOrDefault().PhoneNumber)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.PercentageGradeSort">@Html.DisplayNameFor(model => model.StudentInvitationToStudy.FirstOrDefault().FinalTestPoints)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.ConversationGradeSort">@Html.DisplayNameFor(model => model.StudentInvitationToStudy.FirstOrDefault().ConversationGrade)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.FinalAverageGradeSort">@Html.DisplayNameFor(model => model.StudentInvitationToStudy.FirstOrDefault().FinalAverageGrade)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.PrioritySort">@Html.DisplayNameFor(model => model.StudentInvitationToStudy.FirstOrDefault().Priority)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentInvitationToStudy.FirstOrDefault().InvitedToStudy)
                    
                    <input type="checkbox" class="checkbox-inline text-center ml-2" id="selectAll" onclick="clickThis(event)">
                                           
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.StudentInvitationToStudy.Count(); i++)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-controller="Students" asp-route-id="@Model.StudentInvitationToStudy[i].Id">
                            @Html.DisplayFor(modelItem => modelItem.StudentInvitationToStudy[i].FirstName) 
                            @Html.DisplayFor(modelItem => modelItem.StudentInvitationToStudy[i].LastName)
                        </a>
                        <input type="hidden" name="studentId" value="@Model.StudentInvitationToStudy[i].Id" class="text" asp-for="@Model.StudentInvitationToStudy[i].FirstName" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.StudentInvitationToStudy[i].Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.StudentInvitationToStudy[i].PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.StudentInvitationToStudy[i].FinalTestPoints)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.StudentInvitationToStudy[i].ConversationGrade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.StudentInvitationToStudy[i].FinalAverageGrade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.StudentInvitationToStudy[i].Priority)
                    </td>
                    <td class="text-center">
                        <input type="checkbox" name="HasInvitedToStudy" asp-for="@Model.StudentInvitationToStudy[i].InvitedToStudy" value="@Model.StudentInvitationToStudy[i].Id" id="checkbox-@Model.StudentInvitationToStudy[i].Id" class="checkbox-inline text-center">
                        @Html.ActionLink("", "EditComment", "StudentInvitationToStudy", new { id = Model.StudentInvitationToStudy[i].Id }, new { @class = "fa fa-comments text-secondary float-right" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Išsaugoti" class="btn btn-secondary float-right mt-3 mb-3" />
</form>
<script>
    function callChangefunc(name, value) {
        window.location.href = `/StudentInvitationToStudy/Index?${name}=${value}`;
    }
    function clickThis(e) {
        var allCheckBoxes = document.getElementsByName("HasInvitedToStudy");
        var selectAllCheckBox = document.getElementById("selectAll");
        console.log(allCheckBoxes)
        console.log(selectAllCheckBox)
        if (selectAllCheckBox.checked === true) {
            allCheckBoxes.forEach(x =>
                x.checked = true);
        } else {
            allCheckBoxes.forEach(x =>
                x.checked = false);
        }
    }
    $('.StudentInvitationToStudyTable').DataTable({
        "order": [[5, "desc"]],
        "columnDefs": [
            {
                "orderable": false, "targets": [0, 1, 2, 7],
            },
        ],
        language: {
            search: "Paieška",
            info: "Nuo _START_ iki _END_ iš _TOTAL_ įrašų",
            "lengthMenu": "Rodyti _MENU_ įrašų",
            zeroRecords: "Įrašų nerasta",
            infoEmpty: "Įrašai rodomi nuo 0 iki 0 iš 0 įrašų",
            infoFiltered: "(ieškota iš _MAX_ įrašų)",
            paginate: {
                first: "Pirmas",
                previous: "Ankstesnis",
                next: "Sekantis",
                last: "Paskutinis",
            }
        }
    });
</script>
